form(action="/portal/login", method="post")
    table
        tr 
            td Username
            td
                input(type="text" name='user_name')
        tr
            td Password
            td 
                input(type="password", name="user_password")
        tr
            td
            td 
                input(type="submit", value="Login")
